/SourceCode/Giphy/Giphy.xcodeproj/project.xcworkspace
/SourceCode/Giphy/Giphy.xcodeproj/xcuserdata
/SourceCode/Giphy/Giphy.xcodeproj/xcshareddata
/SourceCode/Giphy/Giphy.xcodeproj/project.xcworkspace/xcuserdata
/SourceCode/Giphy/Giphy.xcodeproj/project.xcworkspace/SourceCode/Giphy/Giphy.xcworkspace
/SourceCode/Giphy/Giphy.xcworkspace/contents.xcworkspacedata
/SourceCode/Giphy/Giphy.xcworkspace/xcuserdata
/SourceCode/Giphy/Giphy.xcworkspace
/SourceCode/Giphy/Giphy.xcworkspace/xcshareddata
Pods
*.DS_Store
.DS_Store
Podfile.lock